<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head.html :: head"></th:block> /*/-->
    <style>

    </style>
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar.html :: navbar"></th:block> /*/-->

<div class="container-fluid px-4 mt-3 pb-4">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card card-outline-secondary mb-1">
                <form action="#" th:action="@{/reviewAdd}" th:object="${Review}" method="post">
                    <div class="card-header container-fluid" style="padding-bottom:0; border-bottom:0;">
                        <div class="row justify-content-between">
                            <h4 class="col">Dodaj Ocenę</h4>
                            <div class="justify-content-center mr-3">
                                <button class="btn btn-secondary" type="reset"> Wyczyść</button>
                                <button class="btn btn-danger" type="submit">Zapisz</button>
                            </div>
                        </div>
                        <hr class="mt-1 mb-2"/>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <label class="col-lg-2 col-form-label form-control-label">Film:</label>
                                <div>
                                    <select class="col-form-label col-12" th:field="*{movie_id}">
                                        <option th:each="i : ${movie}" th:value="${i.id}" th:text="${i.title}">
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <label class="col-lg-2 col-form-label form-control-label">Ocena:</label>
                                <div>
                                    <input class="form-control" type="number" max="10" min="1" th:field="*{rating}" required>
                                </div>
                            </div>
                            <div class="hide">
                                <input style="visibility: hidden" type = "checkbox" th:field="*{hidden}">
                                <input style="visibility: hidden" type = "number" th:field="*{id}">
                                <input style="visibility: hidden" type = "date" th:field="*{date}">
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-12">
                                <label class="col-lg-5 col-form-label form-control-label">Komentarz:</label>
                                <div class="col-lg-12">
                                    <textarea class="form-control" th:field="*{text}">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<!--/*/ <th:block th:include="fragments/footer.html :: footer"></th:block> /*/-->
</body>
</html>