<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head.html :: head"></th:block> /*/-->
    <style>

    </style>
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar.html :: navbar"></th:block> /*/-->

<div class="container-fluid px-4 mt-3 pb-4">

    <div class="row">
        <div class="col-10 offset-1">
            <div class="card card-outline-secondary mb-1">
                <div class="card-header container-fluid" style="padding-bottom:0; border-bottom:0;">
                    <div class="row justify-content-between">
                        <h4 class="col">Lista Filmów</h4>
                        <div class="justify-content-center mr-3">
                            <div class="justify-content-center mr-3">
                                <a class="btn-primary btn" th:href="@{/movieAdd}">Dodaj Film</a>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-1 mb-2"/>
                </div>
                <div class="card-body">

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade active show" id="status" role="tabpanel" aria-labelledby="status-tab">
                            <table class="table table-responsive table-hover table-striped">
                                <thead>
                                    <tr>
                                        <td >ID</td>
                                        <td >Tytuł</td>
                                        <td >Długość</td>
                                        <td >Opis</td>
                                        <td >Data Wydania</td>
                                        <td >Rating</td>
                                        <td >Reżyser</td>
                                        <td >Akcja</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="el: ${MovieList}">
                                        <td th:text="${el.id}"></td>
                                        <td th:text="${el.title}"></td>
                                        <td th:text="${el.length}"></td>
                                        <td th:text="${el.description}"></td>
                                        <td th:text="${el.releaseDate}"></td>
                                        <td th:text="${el.rating}"></td>
                                        <td th:text="${el.director_id.firstName + ' ' +el.director_id.lastName}"></td>
                                        <td class="no-wrap">
                                            <a href="#" th:href="${'movieList/remove/' + el.id}" role="button" class="btn btn-danger">Usuń</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!--/*/ <th:block th:include="fragments/footer.html :: footer"></th:block> /*/-->
</body>
</html>